
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
     <link rel="stylesheet" href="../static/styles/show_info.css">

    

	<section class="location">
      <div class="container">
        <div class="row">
          <div class="position col-xs-11 col-xs-offset-1 col-md-11 col-md-offset-1">
            <p>当前位置：<span>案例展示 &gt; </span><span><?php echo $casepath['case_type_name1'] ?> &gt; </span><span><?php echo $newinfo['case_name'] ?>></span></p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="service">
      <div class="container titled">
        <h1><?php echo $newinfo['case_name']  ?>作品展示</h1>
        <div class="row">
			  <div class="description col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
				<p class="desc">
					<?php echo  $newinfo['case_desc']  ?>
				</p>
				<!-- <p>
					<img src="../static/images/show_info/yougou1.jpg" alt="" class="img-responsive" />
				</p>
				<p class="desc">
					优购网站品牌旗舰店热销耐克、阿迪达斯、百丽、他她、天美意等知名品牌男鞋女鞋和服装。上优购购物，厂家直销，100%专柜正品，10天退换！
				</p>
				<p>
					<img src="../static/images/show_info/yougou2.jpg" alt="" class="img-responsive" />
				</p>
				<p class="desc">
					优购网站品牌旗舰店热销耐克、阿迪达斯、百丽、他她、天美意等知名品牌男鞋女鞋和服装。上优购购物，厂家直销，100%专柜正品，10天退换！
				</p>
				<p>
					<img src="../static/images/show_info/yougou3.jpg" alt="" class="img-responsive" />
				</p> -->
			</div>
        </div>
        
        <div class="row page">
          <div class="col-xs-4 col-sm-4 prev">
            <p><a href="">上一个案例</a></p>
          </div>
          <div class="col-xs-4 col-sm-4 home">
            <p><a href="index.php">返回首页</a></p>
          </div>
          <div class="col-xs-4 col-sm-4 next">
            <p><a href=">">下一个案例</a></p>
          </div>
        </div>
      </div>
    </section>
    
    
    

    
    <script src="../static/scripts/public.js"></script>
  </body>
</html>
